@import "tailwindcss";

.full-height-fix {
  height: 100vh;
  height: 100dvh;
}

@font-face {
  font-family: "Cairoli";
  src: url("/assets/fonts/Italiantype - CairoliClassic Extended Thin Italic.ttf");
}

@font-face {
  font-family: "KaBlam";
  src: url("/assets/fonts/Ka Blam.ttf");
}

@font-face {
  font-family: "Grotesk";
  src: url("/assets/fonts/urw-grotesk-wide-bold-oblique.ttf");
}

@font-face {
  font-family: "Exo2";
  src: url("/assets/fonts/Exo2-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Zrnic";
  src: url("/assets/fonts/zrnic rg.otf");
}

@theme {
  --font-Cairoli: "Cairoli";
  --font-KaBlam: "KaBlam";
  --font-Grotesk: "Grotesk";
  --font-Exo2: "Exo2";
  --font-Zrnic: "Zrnic";
}
